<p>
  <b>Title:</b>
  <%= @topic.title %>
</p>

<p>
  <b>Description:</b>
  <%= @topic.topic %>
</p>

<ul id='steps'>
  <% @topic.steps.each do |step| %>
    <li>
      <%= link_to step.position, [@topic, step] %>: 
      <%= step.content %>
    </li>
  <% end %>
</ul>
<%= link_to 'New Step', new_topic_step_path(@topic) %> |
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to "All How-To's", topics_path %>
