<%= form_for [@topic, @step] do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2>Step has not been created.</h2>
      <ul>
      <% @step.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :order ,"Step Number" %>
    <%= f.number_field :order %>
  </p>
  <p>
    <%= f.label :content ,"Step Number" %>
    <%= f.text_area :content %>   
  </p>
  <%= f.submit %>
<% end %>
